{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'tours/style.css' %}" />

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script language="javascript" src="{% static 'tours/js/main.js'%}"></script>

<style>
#layout {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
#content {
	float:left;
	width:100%;
	position:relative;
	right:30%;
}
#leftbox {
	float:left;
	width:55%;
	position:relative;
	left:32%;
	overflow:hidden;
        height:700px;
}
#rightbox {
        margin-top:-200px;
	float:left;
	width:41%;
	position:relative;
	left:36%;
	overflow:hidden;
        height:860px;
}
</style>
</head>
<body>
  <img class="bg" src="{%static 'tours/img/bg.jpg'%}" alt="" />
  <header>
    <h1>
      <a><img id="simmons-logo" src="{% static 'tours/img/logo.png' %}"
      alt="Simmons Hall" title="Simmons Hall" /></a>
    </h1>
  </header>
<div id='layout'>
<div id='content'>
<div id='leftbox'  class='container'>
&nbsp;
</div>

<div id='rightbox' class='container'>
  <h2>Events</h2>
{% if now_event %}
<p>Event happening now: {{now_event.title}}</p>
{% endif %}
{% if next_event %}
<p>Event happening next: {{next_event.title}}</p>
{% endif %}

</div>
</div>
</div>
</body>
